html, body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
    box-sizing: border-box;
    height: auto;
}
.css-1fec949-MuiButtonBase-root-MuiButton-root{
    font-family: 'Nunito', sans-serif !important;
    font-size: 17px !important;
}
.circle{
    width:28%;
    position: absolute;
    left: 5rem;
    top: 7rem;
    z-index: -1;
    transition: all ease-in-out, 2s;

}
.circle-container:hover .circle{
    left: 10rem;
    top: 15rem;
    width: 10%;
   
}

/* Hero section */
.heroImg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 27%; 
    margin-left: 5%;
    margin-top: 5%;
}

.Hero_title {
    margin-right: 10%;
}

.infoIcon {width: 50%;
}


.salud-portrait {
/* position: absolute; */
width: 100%;
height: 400px;
left: 0px;
top: 113px;
object-fit: cover;
background-attachment: fixed;
background-image: url('/src/img/salud-portrait.jpg');
background-size: cover;
background-position: 1;
/* background-blend-mode: hard-light; 
filter: hue-rotate(30deg); */
}



.cursos-card {
   
transition-duration: 3s;
 }

/*.cursos-card:hover {
   border: rgb(101, 124, 118) 2px solid;   
}*/









/* Mobile devices */
@media (max-width: 480px) {
.heroImg{
    width: 50%;
    align-items: center;
 }

.circle{
    width: 10%;
} 
.Hero_title{
    width: 100%;
    text-align: center;

}    
}

/* ipads, tablets  */
@media (max-width: 768px) {
    .heroImg{
        min-width: 350px;
     }
    
    .circle{
        width: 10%;
    } 
    .Hero_title{
        width: 100%;
        text-align: center;
    }    
}
/* Media screens, laptops */
@media (max-width: 1024px) {
        .heroImg{
            width: 10%;
            align-items: center;
            justify-content: center;
            margin-left: 35%;
            position: relative;
         }

        .circle{
            width: 10%;
            margin-left: 28%;
        } 

        .infoIcon {width: 50%;
        }

        .Hero_title{
            width: 100%;
            text-align: center;
        }    
}
/* Desktops, large screens */

@media (max-width: 1200px) {
            .heroImg{
                width: 30%;
                align-items: center;
             }
            
            .circle{
                width: 30%;
            } 
            .Hero_title{
                width: 100%;
                text-align: center;
            }    
} 

.servicesImg { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;


}

.servicesImg img {
    max-height: 100%;
}
.servicesImg button{
    background-color: aliceblue;
    margin-top: 5%;
    
}

.servicesImg button:hover{
    color: aliceblue;
    border: 2px aliceblue solid;
}